body{
    background: url("../images/knockout.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    background-color: #fff;
    background-attachment: fixed;
}
.position{
    margin: 0 auto;
    position: relative;
    float: none;
}
#viewer2,.mark-face{
    display: none;
}
#main-image{
    margin: 0 auto;
}
.glouse-container{
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.total-wrapper{
    display: none;
}
.loader img{
    margin: 0 auto;
    position: relative;
    top: 200px;
}
.container .link{
    visibility:hidden;
}
.container .link p{
    color: #ffffff;
    font-weight: bold;
}
.player-1,.timer-container,.player-2{
    color: white;
}
.player1-name,.player2-name,.timer-text{
    font-weight: bolder;
    font-size: 20px;
}
#error-container{
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    text-align:  center;
    top: 100px;
    position: relative;
}
.alertify-button-cancel{
    display: none !important;
}
.how-to-play{
    padding: 10px;
    background: #412114;
    float: right;
    cursor: pointer;
    margin:10px 10px;
    color: white;
    z-index: 9999;
    position: relative;
}